/* */
*{
    margin: 0;
    padding:0;
}
/* fondo de la pagina*/
body{
    
    background-image: url(../img/guitarra1.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin:0px;
  /*  font-family: monospace;*/
}
/*Los esperamos  los dias viernes y sabados de 20:00 a 22:00hs */
h6 {
    width:100vw;
    margin: 0px;
    color:rgb(19, 18, 18);
    background-color: rgba(211, 206, 206, 0.877);
}
@media (min-width: 768px ){
    h6{
        margin:0px 0px 0px 0px;
        width:100vw;
    }
}
h5 {
    text-align: center;
     margin: 40px;
    color: rgb(252, 251, 251);
    font-size: 20px;
    margin-top: 70px;
}
h1{
    color: rgb(252, 251, 251);
} 
@media  (min-width:769xp){
    h5{
        margin:80xp;
        font-size: 30px;
    }
}
hr {
    width:100vw;
    color:rgb(255, 255, 255);
}

/*barra de navegacion altura , ancho y color*/
.nav-bg{
    width: 100vw;
    height: 255px;
    background-color: rgba(211, 205, 205, 0.329);
    margin:0px;
}
@media (min-width: 769px){
    .nav-bg{
        width:100vw;
        height: 60px;
        margin: 0px;
    }

}
/* los li en row*/
nav{
    width: 100vw;
display:flex;
flex-direction: column;
align-items: center;
padding: 14px;
text-decoration: none;
z-index: 1;
position: relative;
margin:0px;
}
@media (min-width: 769px){
   nav{
       width: 100vw;
        display:flex;
flex-direction: row;
justify-content: space-around;
padding-top: 0px;
   }
}

nav li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    /*color: rgb(100, 100, 100);*/
    position:relative;
    font-size: 17px;
    font-weight: bold;
    margin-top: 0xp;
}
/*color de barra de navegacion cuando pasa el puntero*/
nav li a:hover{
    background-color: rgba(199, 199, 196, 0.911);
    color: rgb(36, 36, 36);
    border-radius: 4px;
    padding-top:2px 0px 0px 0px;
    margin-top: 4px;
    height: 30px;
    font-size: 20px;
    transition: all 3.s;
}

ul,
li {
    list-style: none;
    display:block;
}
nav li ul{
position:absolute;
display:none;
float:left;
width: 120px;
}
nav li:hover > ul{
    display:inline;
    color: rgb(255, 255, 255);
    
}
@media (min-width:768px){
    nav li:hover > ul{
        display:block;
        color: rgb(255, 255, 255);
    }
}

/*cuadro de texto*/
nav  input {
    width: 300px;
    margin: 3px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(107, 105, 105);
    font-weight: bold;
}
@media (min-width:769px){
   nav input{
    width: 160px;
    height: 30px;
   }
}

/*imagen de la barra "logo:*/
nav a img{
    width:120px ;
    height: 60px;
margin: 0px 0px 5px 0px;
padding: 0px 0px 0px 0px;
    }
   
#galeria .col-lg-4{
    margin: 0!important;
    padding:25px;
    
}
#galeria img{
    width:100%;
    height: 300px;
}
#galeria img:hover{
    border:5px solid #f7f7f7;
}

/*REDES SOCIALES*/
.redes {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 50px 180px 50px 180px;
    padding: 0px 0px;
}
@media (min-width:360px){
    .redes{
        width: 60;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 100px 0px 100px;
    } 
}
@media (min-width:769px){
    .redes{
        width: 60;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 200px 0px 200px;
    } 
}

@media (min-width:1140px){
    .redes{
        width: 60;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 400px 50px 400px;
    } 
}


@media (min-width:1250px){
    .redes{
        width: 60;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 500px 50px 500px;
    } 
}
@media (min-width:1400px){
    .redes{
        width: 60;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 600px 50px 600px;
    } 
}

/* LOGO DEL FINAL DE LA PAGINA*/
.logo2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 0px 50px 0px;
}

logo2 img {
    width:200px;
        height: 90px;
}


@media (min-width:360px){
    .logo2 img{
       
        width:270px;
        height:160px;
    }  
}
@media (min-width:769px){
    .logo2 img{
       
        width:300px;
        height:170px;
    }  
}
@media (min-width:1140px){
    .logo2 img{
       
        width:320px;
        height:180px;
    }  
}



/* FONDO DE DERECHOS RESERVADOS*/
body footer{
    width: 100vw;
    height: 150px;
    color: rgb(253, 253, 253);
    background-color: rgba(253, 252, 252, 0.295);
    }
    
    /*DERECHOS RESERVADOS*/
    .derechos{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px 10px 10px 10px;
    }
     @media (min-width:360px){
        .derechos{
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 2px 2px 0px 2px;  
           padding: 30px 5px 0px 5px;
        }
    }  
    @media (min-width:769px){
            .derechos{
                display:flex;
                flex-direction: row;
                justify-content: space-evenly;
               margin: 2px 40px 0px 40px;
               padding: 40px 60px 60px 60px;
            }
        } 
    